.appHeader {
  margin: 0;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #a3a3a4;
  display: flex;
  justify-content: space-between;
}
.appLogo {
  max-width: 100px;
  margin-left: 10px;
  cursor: pointer;
}
.searchBar {
  margin-left: 10px;
  width: 300px;
  border: 0.3px solid #9b9b9b;
  border-radius: 32px;
  background: #f8f9fa;
  text-align: left;
}
.searchBar:hover {
  background: white;
}

.searchIcon {
  width: 20px;
  padding-left: 8px;
  vertical-align: middle;
}
.searchInput {
  border: none;
  background: transparent;
  width: 259px;
  font-size: 14px;
  padding: 10px 5px 10px 5px;
}
.searchInput:focus {
  outline: none;
}

@media (max-width: 500px) {
  .searchInput {
    width: 200px;
  }
}
