.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  margin: 10px auto;
  column-gap: 40px;
  row-gap: 0;
  max-width: 920px;
  text-align: left;
  grid-template-areas: "header header header header" "one two three four";
}

.mobileContainer {
  display: none;
}
.heading {
  grid-area: header;
}
.gridItem {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5px;
  cursor: pointer;
}

.gridItem_0 {
  grid-area: one;
}
.gridItem_1 {
  grid-area: two;
}
.gridItem_2 {
  grid-area: three;
}
.gridItem_3 {
  grid-area: four;
}

.trendingCardTitle {
  margin-bottom: 3px;
}
.trendingCardText {
  margin-top: 0;
  padding: 0 5px;
  margin-bottom: 90px;
}
.trendingCardChannel {
  color: white;
}
.channelLogo {
  width: 16px;
  padding-right: 3px;
  vertical-align: middle;
}
@media (max-width: 919px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header " "one two ";
    max-width: 100%;
  }
  .gridItem_2,
  .gridItem_3 {
    display: none;
  }
  .gridItem_0 {
    justify-self: end;
  }
  .heading {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-areas: "header " "one ";
    max-width: 100%;
  }
  .gridItem_2,
  .gridItem_3,
  .gridItem_1 {
    display: none;
  }
  .mobileContainer {
    display: block;
    margin: 0 auto;
  }
  .desktopContainer {
    display: none;
  }
  .mobileTrending {
    max-width: 200px;
    margin: 0 auto;
  }
  .trendingCardTitle {
    padding-top: 5px;
    margin-top: 0;
  }
  .heading {
    margin-bottom: 5px;
  }
}
