.gridContainer {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #a3a3a4;
  margin: 30px auto 0 auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.gridRight {
  text-align: left;
  padding: 5px 0 5px 10px;
  max-width: 98%;
}
.gridLeft {
  background-color: #f8f9fa;
  padding-top: 10px;
}

.arrows {
  width: 25px;
  margin-bottom: 0px;
}
.icons {
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
}
.likes {
  margin: 2px 0 6px 0;
  font-weight: 700;
  font-size: 12px;
}
.cardFooter {
  margin: 10px 0 10px 0;
  font-weight: 600;
}
.channel {
  color: black;
  font-weight: 600;
}
.channelLogo {
  width: 22px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 5px;
}

.cardHeader {
  display: flex;
}
.cardHeaderLeft {
  flex: 2;
  margin-top: 5px;
}

.contentImg {
  object-fit: scale-down;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-height: 512px;
  max-width: 98%;
}
.contentVideo {
  object-fit: scale-down;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-height: 512px;
  max-width: 98%;
  margin: 0 auto;
}
.desktopNone {
  display: none;
}

@media (max-width: 700px) {
  .gridContainer {
    max-width: 700px;
  }
  .cardHeaderLeft {
    flex: 1;
  }

  .gridRight {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .gridContainer {
    margin: 20px auto 0 auto;
    max-width: 98%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridLeft {
    display: none;
  }
  .gridRight {
    width: 97%;
    padding-right: 3px;
  }
  .arrows {
    margin-right: 5px;
  }

  .commentCount {
    padding-right: 3px;
  }
  .mobileNone {
    display: none;
  }
  .desktopNone {
    display: inline;
    padding-right: 1px;
  }
}
